@charset "UTF-8";
/* //////////////////////// */

/* /// Proiject - CloudShelf //// */

/* //////////////////////// */

/*  Global Styling  */

.ubuntu {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

.bg-gray {
  background-color: #DFE3E4;
}

.phase-title {
  font-size: 1rem;
  color: #376AB5;
  letter-spacing: 1.2px;
  line-height: 2rem;
  text-transform: uppercase;
  font-weight: 700;
}

.section-header {
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: -0.3px;
}

.sticky-topbar-scrolled {
  box-shadow: 0 3px 2px -2px rgba(0, 0, 0, .2);
}

.section-sub-header, .research-findings h4 {
  font-size: 20px;
  font-weight: 600;
}

/* .research-findings section-container bg-gray, cell small-6 medium-4, img {
  max-width: 30%;
} */

.button {
  min-width: 250px;
  padding: 15px 30px;
  line-height: 1rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #376AB5;
  font-size: 0.875rem;
  text-align: center;
  color: #ffffff;
  border-radius: 42.5px;
  text-transform: uppercase;
}

.button:hover, .button:focus {
  background-color: #376AB5;
}

/*  Sections Styling  */

.hero-container {
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.hero-container h1 {
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-weight: 300;
}

.project-description {
  padding-bottom: 1.25rem;
}

/*  Small Screen  */

@media screen and (max-width: 39.9375em) {
  .intro-display {
    margin-top: -1rem;
    padding-bottom: 2rem;
  }
}

.line-decor-top::before, .line-decor-bottom::after {
  content: "";
  width: 38px;
  height: 0;
  border-top: solid 1px #656363;
  display: inline-block;
}

.line-decor-top::before {
  margin-bottom: 2rem;
}

.line-decor-bottom::after {
  margin-top: 2rem;
}

.design-roles, .design-deliverables, .tools-software {
  margin-left: 0;
  font-size: 1rem;
}

.category-specs {
  list-style: none;
}

.design-roles li:not(:first-child), .design-deliverables li:not(:first-child), .tools-software li:not(:first-child) {
  list-style: none;
  font-style: normal;
  font-weight: 250;
}

.research-findings {
  text-align: center;
}

/* Research Findings Title - removed */

.research-findings>h3 {
  margin-bottom: 2.5rem;
  font-weight: 500;
  font-size: 1.5rem;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  padding-bottom: 3px;
}

.research-findings h4 {
  margin-top: 14px;
  margin-bottom: 14px;
  font-weight: 600;
}

.research-findings .cell {
  padding-top: 2.5rem;
}

.research-findings .cell:nth-child(-n+2) {
  padding-top: 0;
}

/*  Medium & Up  */

@media screen and (min-width: 40em) {
  .research-findings .cell:nth-child(-n+3) {
    padding-top: 0;
  }
}

.research-findings img {
  margin-bottom: 0.9rem;
  max-width: 30%;

}

.rf-icon-thumbsup {
  padding-top: 10px;
  padding-bottom: 8px;
}

.rf-icon-variety {
  padding-top: 4px;
}

.research-findings .percent {
  font-weight: 500;
  font-size: 2.625rem;
  display: block;
  line-height: 3rem;
}

.research-findings p {
  line-height: 26px;
  padding-left: 1.15rem;
  padding-right: 1.15rem;
}

.research-findings .percent-text {
  display: block;
  margin-bottom: 1rem;
}

/*  Small Only  */

@media screen and (max-width:39.9375em) {
  .research-findings p {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}

/*  Large & Up  */

@media screen and (min-width:64em) {
  /*.music-lovers-profiles .cell:not(:first-child) { */
  .music-lovers-profiles .cell+.cell {
    border-left: 1px solid #656363;
  }
}

.section-footer {
  margin-top: 2.5rem;
}

.see-more {
  font-size: 1rem;
  color: #a4a3a3;
  transition: all 0.2s linear;
  text-transform: uppercase;
  font-weight: 500;
  opacity: 0.8;
}

.see-more:hover, .see-more:focus {
  color: #a4a3a3;
}

.see-more img {
  margin-bottom: 0.5em;
}

.see-more i {
  color: #a4a3a3;
  font-size: 16px;
  padding-left: 8px;
}

.number+.unit {
  display: inline-block;
  margin-left: 3px;
}

.diagram {
  margin-bottom: 2.5rem;
}

.music-lovers-profiles {
  padding-top: 3rem;
}

.music-lovers-profiles img {
  max-width: 40%;
  margin-bottom: 1rem;
}

.personas-name {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2rem;
}

.personas-details li {
  line-height: 1.5rem;
}

.personas-description {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.personas-description h4 {
  font-size: 1rem;
  margin-bottom: 0.2em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-bottom: 3px;
}

@media screen and (max-width:39.9375em) {
  .personas-description {
    margin-left: 0rem;
    margin-right: 0rem;
  }
}

.personas-description ul, .mvp-list, .next-steps, .testing-header+ul {
  list-style: none;
  margin-left: 5px;
}

.personas-description ul li:before, .mvp-list li:before, .next-steps li:before, .testing-header+ul li:before {
  content: '•';
  vertical-align: middle;
  display: inline-block;
  margin-top: -3px;
  font-size: 14px;
  margin-right: 8px;
}

.personas-description li, .personas-frustrations li {
  text-indent: -8px;
  margin-left: 1rem;
  line-height: 1.6;
}

.testing-header {
  font-size: 1rem;
  margin-bottom: .5rem;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #3d3d3d;
  padding-bottom: 2px;
  display: inline-block;
}

.personas-description li:last-child {
  margin-bottom: 0;
}

.comp-analysis img {
  max-width: 6rem;
}

.number-list-style {
  margin: 0 0 1.5em;
  padding: 0;
  counter-reset: item;
}

.number-list-style>li {
  margin: 0;
  padding: 0 0 0 2em;
  text-indent: -1.6em;
  list-style-type: none;
  counter-increment: item;
}

.number-list-style>li:before {
  display: inline-block;
  width: 1em;
  padding-right: 0.5em;
  font-weight: bold;
  text-align: right;
  content: counter(item) ".";
}

.the-framework>img {
  padding: 0 8px;
}

.box {
  padding: 1.8rem 1rem;
  border-radius: 5px;
  background-color: #ffffff;
  /* box-shadow: 1px 2px 7px 1px rgba(114, 114, 114, 0.5); */
  color: #000;
}

.arrow {
  padding-top: 10px;
}

.box h5 {
  font-size: 1rem;
  font-weight: 500;
}

.box p {
  margin-bottom: 0;
}

.screenshot-wrapper {
  display: inline-block;
  text-align: center;
  margin-bottom: 2rem;
}

.screenshot-wrapper>img {
  margin: 0 auto;
}

.number {
  font-size: 27px;
  font-weight: 500;
}

.unit {
  font-size: 22px;
  font-weight: 300;
}

.challenge-3-box>div+div {
  margin-top: 2rem;
}

/*  Small Screen  */

@media screen and (max-width: 39.9375em) {
  .section-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .music-lovers-profiles .cell:nth-child(2) {
    padding-top: 3rem;
  }
  h1 {
    font-size: 2rem;
  }
  .section-sub-header, .research-findings h4, .personas-description h4 {
    font-size: 1rem;
    font-weight: 700;
  }
  .challenges h4 {
    text-align: left;
  }
  .challenges .section-sub-header {
    padding-bottom: 0px;
  }
  .number {
    font-size: 21px;
  }
  .unit {
    font-size: 1rem;
  }
  .section-2-images>.cell {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

/*  Small & Medium Only  */

@media screen and (max-width: 63.9375em) {
  .section-header {
    font-size: 1.5rem;
  }
  .research-findings h3 {
    font-size: 1.625rem;
  }
  .research-findings .percent {
    font-size: 2.125rem;
  }
  .personas-name {
    font-size: 1.25rem;
  }
  .the-framework>img {
    padding: 0 0px;
  }
  .section-challenge-2 div:nth-child(4) {
    text-align: center;
  }
  .challenge-3-box div:first-child {
    margin-top: 0rem;
  }
  .the-gifs .cell:not(:first-child) {
    padding-top: 3rem;
  }
}

/* Medium only */

@media screen and (max-width: 63.9375em) {
  .the-experience .cell:nth-child(2) {
    padding-top: 1.5rem;
  }
}

.img-container {
  overflow: hidden;
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
  height: 100%;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-container:hover img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

/* Medium & Up */

@media screen and (min-width: 63.9375em) {
  .stylecard {
    padding-top: 2rem;
  }
}


/*  Utility Classes  */

.opaque {
  opacity: .55;
}

.pt1 {
  padding-top: 1rem;
}

.pb1 {
  padding-bottom: 1rem;
}

.pt2 {
  padding-top: 2rem;
}

.pb2 {
  padding-bottom: 2rem;
}

.px1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.mb1 {
  margin-bottom: 1rem;
}

.semi-bold-text {
  font-weight: 500;
}

.bold-text {
  font-weight: 700;
}

.grey {
  color: #3d3d3d;
}

.is-block {
  display: block;
}

.is-inline-block {
  display: inline-block;
}

/*  CSS Animation: Shrink  */

.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}

/*  CSS Animation: Icon Forward  */

.hvr-icon-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.2s;
}

.hvr-icon-forward .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.2s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-icon-forward:hover .hvr-icon, .hvr-icon-forward:focus .hvr-icon, .hvr-icon-forward:active .hvr-icon {
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
}

/*  CSS Animation: Icon Bob  */

@-webkit-keyframes hvr-icon-bob {
  0% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  50% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

@keyframes hvr-icon-bob {
  0% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  50% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

@-webkit-keyframes hvr-icon-bob-float {
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

@keyframes hvr-icon-bob-float {
  100% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

.hvr-icon-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-icon-bob .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.hvr-icon-bob:hover .hvr-icon, .hvr-icon-bob:focus .hvr-icon, .hvr-icon-bob:active .hvr-icon {
  -webkit-animation-name: hvr-icon-bob-float, hvr-icon-bob;
  animation-name: hvr-icon-bob-float, hvr-icon-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

/*  CSS Animation: Forward  */

.hvr-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-forward:hover, .hvr-forward:focus, .hvr-forward:active {
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}

/*  CSS Animation: Backward  */

.hvr-backward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-backward:hover, .hvr-backward:focus, .hvr-backward:active {
  -webkit-transform: translateX(-8px);
  transform: translateX(-8px);
}